
{% include "upload_image.html" %}
<html>
   <head>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/image.css' %}">
    
      <style>
         .line {
    border-bottom: 1px solid rgb(255, 255, 255); /* Параметры линии */
   }
         .p
{

   padding: 10px !important;
    color: rgb(255, 255, 255) !important;
}
   .card.card-body
{

  
  
color: white;

    background-color: transparent; border-color: white;
}
   </style>
  
   </head>
   <body class = "body2">

      {% if correct %}
     
      {% else %}
         <p>Кидай норм изображение 10 на 10 пикселей</p>
      {% endif %}
      
    
      
     
      
      <!-- Подключаем Bootstrap JS -->    
      
      {% block content %}{% endblock %}
     



   </body>
</html>